@font-face {
    font-family: "Manrope";
    src: url(./../Fuentes/static/Manrope-Regular.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Manrope";
    src: url(./../Fuentes/static/Manrope-Medium.ttf) format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Manrope";
    src: url(./../Fuentes/static/Manrope-SemiBold.ttf) format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Manrope";
    src: url(./../Fuentes/static/Manrope-Bold.ttf) format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Manrope";
    src: url(./../Fuentes/static/Manrope-ExtraBold.ttf) format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "Manrope";
    src: url(./../Fuentes/static/Manrope-ExtraLight.ttf) format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "Manrope";
    src: url(./../Fuentes/static/Manrope-Light.ttf) format("truetype");
    font-weight: 300;
}