*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope";
    color: #B5E3DB;
}

body{
    padding: 3.5rem 0;
    display: flex;
    justify-content: center;
    background: #DDEEEB;
}

form{
    padding: 2.3rem;
    width: auto;
    background: #00332B;
    box-shadow: 0 0 1.5rem #322E2A;
    border-radius: 12px;
    margin-top: 3.5rem;
}

.container-title{
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
    text-align: center;
}

.descripcion-container p{
    color: #DDEEEB;
    text-align: center;
    margin-bottom: 1.9rem;
}

.campos{
    margin: 1rem;
}

.align{
    margin-left: 7rem ;
}
.align2{
    margin-left: 6.5rem;
}
.align3{
    margin-left: 6.8rem;
}
.align4{
    margin-left: 2rem;
}
label{
    margin-right: 0.5rem;
}

input{
        width: 35%;
        padding: 0.2rem;
        color: #00332B;
        font-size: 1rem;
        font-weight: bold;
}

.button-container{
    display: flex;
    justify-content: end;
    margin-right: 2.5rem;
}

.container-calfinal{
    margin-top: 2rem;
    margin-left: 5.5rem ;
}



.container-back {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.container-back a {
    text-decoration: none;
    color: #00332B;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background: #B5E3DB;
    border-radius: 5px;
    border: 1px solid #00332B;
    transition: all 0.3s;
}

.container-back a:hover {
    background: #9bd1c7;
    transform: translateY(-2px);
}