body{
    margin: 0;
    font-family: "Manrope";
    background-color: #B5E3DB;
}
header{
    background-color: #0B8E78;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1%;
    box-shadow: 0 0px 2.5rem #322E2A;
    box-sizing: border-box;
}
h1{
    color: #B5E3DB;
    margin: 0;
    font-size: 40px;
    padding: 10px;
    padding-top: 15px;
}
span{
    color: #B5E3DB;
    font-size: 20px;
}
nav{
    border-top: 5px solid #DDEEEB;
}
.lista-nav{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.li-nav{
    color: white;
    margin: 0px 15px;
    padding: 5px;
}
.link-nav{
    text-decoration: none;
}
a.link-nav:hover{
    color: #B5E3DB;
    display: inline-block;
    transform: scale(1.2);
    transition: 0.5 s;
}
.container-body{
    margin: 1%;
    margin-top: 30px;
    display: flex;
    height: 100vh;
}
aside{
    width: 30%;
    height: 100%;
    background-color: #0B8E78;
    padding: 10px;
    margin: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 20px rgb(0, 0, 0);
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    margin: 0px 20px 0px 0px;
    background-color: #8CD9CC;
    height: 100%;
    box-shadow: 0 0px 20px rgb(0, 0, 0);
}
h3{
    color: #00332B;
    font-size: 25px;
    margin: 10px;
    padding: 5px;
}

section, article{
    color: #024B3E;
    font-size: 17px;
    margin: 10px;
    padding: 5px;
    margin-bottom: 40px;
    border-bottom: 5px solid #00332B;
}

article{
    margin-top: 10px;
}

.container-educacion, .container-habilidades{
    margin: 10px;
    padding: 7px;
    color: #B5E3DB;
    font-size: 18px;
    border-bottom: 8px solid rgba(199, 197, 228, 0.842);
}

footer{
    margin: 1%;
    margin-top: 50px;
    background-color: #0B8E78;
    padding: 10px;
}
.title-footer{
    color: #B5E3DB;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    border-bottom: 4px solid #B5E3DB;
}
.contact{
    color:#8CD9CC ;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.contact-element{
    margin: 10px 70px;
    padding: 10px;
    font-size: 20px;
}
.link-git{
    text-decoration: none;
    color: #8CD9CC;
}
a.link-git:hover{
    display: inline-block;
    transform: scale(1.2);
    transition: 0.5 s;
}
.lista_habilidades{
    font-size: 0.9rem;
}