*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

body{
    background: #DDEEEB;
    padding: 4.5rem 2.5rem;
}

.container{
    background-color: #0B8E78;
    margin-bottom: 2.5rem ;
    padding: 1.5rem;
    color: #DDE1EE;
}

h2{
    margin-bottom: 0.7rem;
}

.problema-content{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.problema-content .problema-input{
    padding: 0.5rem 2rem;
    color: #0B8E78;
    font-weight: bold;
    font-size: 1.1rem;
}

.problema-content .problema-button{
    padding: 0.5rem 2rem;
    color: #0B8E78;
    font-weight: bold;
    font-size: 1.1rem;
}

.problema-content pre{
    font-weight: bold;
    font-size: 1rem;
    padding-top:0.6rem ;
}

.container-back {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.container-back a {
    text-decoration: none;
    color: #00332B;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background: #B5E3DB;
    border-radius: 5px;
    border: 1px solid #00332B;
    transition: all 0.3s;
}

.container-back a:hover {
    background: #9bd1c7;
    transform: translateY(-2px);
}



